<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title>{{ .Title }}</title>
    <link>{{ .BaseURL }}/feed.xml</link>
    <itunes:image href="{{ .BaseURL }}/cover.jpg"/>
    <lastBuildDate>Sat, 25 Mar 2006 11:30:00 -0500</lastBuildDate>
    <generator>dir2cast</generator>
    {{ $baseURL := .BaseURL }}
    {{ range $i, $episode := .Episodes }}
      <item>
        <title>{{ $episode.Title }}</title>
        <description>
          <![CDATA[ {{ $episode.Description }} ]]>
        </description>
        <guid>{{ $episode.FileName }}</guid>
        <pubDate>{{ $episode.PubDate }}</pubDate>
        <itunes:duration>{{ $episode.Duration }}</itunes:duration>
        <enclosure type="audio/mpeg" url="{{ $baseURL }}/download/{{ html $episode.FileName }}" length="{{ $episode.FileSize }}" />
      </item>
    {{ end }}
  </channel>
</rss>
